build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar targetPath (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.project
/build.gradle.siemens
/.gradle/
/.idea/
/**/*.iml
/build.gradle
/ee-brill/out/production/classes/
/ee-fiveh/out/production/classes/
/ee-grab/out/production/classes/
/ee-moodle/out/production/classes/
/ee-moodle_fx/out/production/
/ee-rulit/out/production/classes/
/ee-sharepoint/out/
/ee-unisa/out/production/classes/
