build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar targetPath (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.project
/build.gradle.siemens
/.gradle/
/.idea/
/**/*.iml
/build.gradle
/ee-brill/out/production/classes/
/ee-fiveh/out/production/classes/
/ee-grab/out/production/classes/
/ee-moodle/out/production/classes/
/ee-moodle_fx/out/production/
/ee-rulit/out/production/classes/
/ee-sharepoint/out/
/ee-unisa/out/production/classes/
/ee-unisa/.settings/
/ee-unisa/.classpath
/ee-unisa/.project
/ee-sharepoint/.settings/
/ee-sharepoint/.classpath
/ee-sharepoint/.project
/ee-rulit/.settings/
/ee-rulit/.classpath
/ee-rulit/.project
/ee-moodle/.settings/
/ee-moodle/.classpath
/ee-moodle/.project
/ee-grab/.settings/
/ee-grab/.classpath
/ee-grab/.project
/ee-fiveh/.settings/
/ee-fiveh/.classpath
/ee-fiveh/.project
/ee-brill/.settings/
/ee-brill/.classpath
/ee-brill/.project
/.settings/
/.classpath
